<!--<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4>About</h4>
    </div>
    <div class="col-md-2">
      <h4>Blog</h4>
    </div>
    <div class="col-md-2">
      <h4>About</h4>
    </div>
    <div class="col-md-2">
      <h4>About</h4>
    </div>
    <div class="col-md-2">
      <h4>About</h4>
    </div>
    <div class="col-md-2">
      <h4>About</h4>
    </div>
  </div>
</div>-->

  <!--<nav class="navbar bottom navbar-light bg-light justify-content-center" style="margin-top:10px;">
    <div class="row justify-content-center">
      <div class="col-md-2">
        <h6>About</h6>
      </div>
      <div class="col-md-2">
        <h6>Blog</h6>
      </div>
      <div class="col-md-2">
        <h6>Buisnesses</h6>
      </div>
      <div class="col-md-2">
        <h6>Terms of Service</h6>
      </div>
      <div class="col-md-2">
        <h6>Privacy Policy</h6>
      </div>
      <div class="col-md-2">
        <h6>Help</h6>
      </div>
    </div>
  </nav>-->

  <footer class="mt-5 pt-1 text-muted text-center text-small bg-light">
    <p class="mb-1">© 2019 StuieCRM</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Blog</a></li>
      <li class="list-inline-item"><a href="#">Buisnesses</a></li>
      <li class="list-inline-item"><a href="#">Terms of Service</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      <li class="list-inline-item"><a href="#">Help</a></li>
      <li class="list-inline-item"><a href="#">Iphone App</a></li>
      <li class="list-inline-item"><a href="#">Android App</a></li>
    </ul>
  </footer>
