<form (ngSubmit)="onSubmit(f)" class="form-horizontal" #f="ngForm">
  <fieldset>

    <!-- Form Name -->
    <legend>Address</legend>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="address">Address Number</label>
        <input ngModel id="address" name="address" type="number" placeholder="1445" class="form-control input-md">
      </div>
      <div class="form-group col-md-6">
        <label for="street">Street</label>
        <input ngModel id="street" name="street" type="text" placeholder=" Boulevard de Maisonneuve O" class="form-control input-md">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="city">City</label>
        <input ngModel id="city" name="city" type="text" placeholder="Montreal" class="form-control input-md">
      </div>
      <div class="form-group col-md-3">
        <label for="province">Province</label>
        <input ngModel id="province" name="province" type="text" placeholder="QC" class="form-control input-md">
      </div>
      <div class="form-group col-md-3">
        <label for="country">Country</label>
        <input ngModel id="country" name="country" type="text" placeholder="Canada" class="form-control input-md">
      </div>
      <div class="form-group col-md-3">
        <label for="postalCode">PostalCode</label>
        <input ngModel id="postalCode" name="postalCode" type="text" placeholder="H3G 1M8" class="form-control input-md">
      </div>
    </div>

    <legend>Condo Details</legend>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="bedrooms">Bedrooms</label>
        <input ngModel id="bedrooms" name="bedrooms" type="number" placeholder="3" class="form-control input-md">
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md-3">
        <label for="bathrooms">Bathrooms</label>
        <input ngModel id="bathrooms" name="bathrooms" type="number" placeholder="2" class="form-control input-md">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-3">
        <label for="parkingSpaces">ParkingSpaces</label>
        <input ngModel id="parkingSpaces" name="parkingSpaces" type="number" placeholder="2" class="form-control input-md">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="price">Price</label>
        <input ngModel id="price" name="price" type="number" placeholder="235,000" class="form-control input-md">
      </div>
    </div>

    <legend>Extra Details</legend>
    <div class="container my-3">
      <div class="form-row">
        <mat-checkbox ngModel name="gymIncluded" id="gymIncluded" value=true labelPosition="after">Gym Included</mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox ngModel name="storageIncluded" id="storageIncluded" value=true labelPosition="after">Storatge Included</mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox ngModel name="elevatorIncluded" id="elevatorIncluded" value=true labelPosition="after">Elevator Included</mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox ngModel name="outdoorAreasIncluded" id="outdoorAreasIncluded" value=true labelPosition="after">Outdoor Areas Included</mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox ngModel name="buildingInsurance" id="buildingInsurance" value=true labelPosition="after">Building Insurence</mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox ngModel name="airConditioning" id="airConditioning" value=true labelPosition="after">Air Conditioning</mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox ngModel name="petsAllowed" id="petsAllowed" value=true labelPosition="after">Pets Allowed</mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox ngModel name="conciergeIncluded" id="conciergeIncluded" value=true labelPosition="after">Concierge Included</mat-checkbox>
      </div>

    </div>

  </fieldset>

  <div class="spaceTop">
    <button type="submit" class="btn btn-primary btn-lg spaceRight">Submit</button>
    <button type="button" class="btn btn-secondary btn-lg spaceRight" (click)="goBack()" style="margin-left:5px;">Go back</button>
  </div>
</form>


