
<mat-card class="z-depth-2 title" [style.backgroundColor]="'Blue'"><mat-card-title><h2>My Properties</h2></mat-card-title></mat-card>
<ul class="properties">
  <li *ngFor="let property of properties">
    <mat-card class="z-depth-2">
    <mat-card-title ><h3>{{property.propertyType}}</h3></mat-card-title>
    <mat-card-subtitle><Strong>ID:</Strong> {{property.id}}</mat-card-subtitle>
    <mat-card-content>
        <h6><Strong>Address:</Strong> {{property.address.address}} {{property.address.street}}, {{property.address.city}},  {{property.address.province}}, {{property.address.postalCode}} </h6>
        <h6><Strong>petsAllowed:</Strong> {{property.petsAllowed}}</h6>
        <h6><Strong>parkingSpaces:</Strong> {{property.parkingSpaces}}</h6>
        <h6><Strong>bedrooms:</Strong>{{property.bedrooms}} <Strong>bathrooms:</Strong>{{property.bathrooms}}</h6>
        <h6><Strong>price:</Strong> {{property.price}}</h6>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button type="button" class="btn btn-outline-primary spaceRight" routerLink="/details/{{property.propertyType}}/{{property.id}}">View Details</button>
        <button type="button" class="btn btn-outline-primary spaceRight" routerLink="/edit/{{property.propertyType}}/{{property.id}}">Edit Details</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>

</mat-card>
  </li>
</ul>


<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle title" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add Property
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/addApartment">Add Apartment</a>
    <a class="dropdown-item" routerLink="/addHouse">Add House</a>
    <a class="dropdown-item"routerLink="/addCondo">Add Condo</a>
  </div>
</div>

