<h2>My Properties</h2>
<ul class="properties">
  <li *ngFor="let property of properties">
    <div class="row">
      <!--<div class="col-sm"><img src="../../assets/property-image.png" alt="Smiley face" height="200" width="200"></div>-->
      <div class="col-sm">
        <h6>id {{property.id}}</h6>
        <h6>Address: {{property.address.address}} {{property.address.street}}, {{property.address.city}},  {{property.address.province}}, {{property.address.postalCode}} </h6>
        <h6>petsAllowed {{property.petsAllowed}}</h6>
        <h6>parkingSpaces {{property.parkingSpaces}}</h6>
        <h6>{{property.bedrooms}} bedrooms  {{property.bathrooms}} bathrooms</h6>
        <h6>propertyType {{property.propertyType}}</h6>
        <h6>price {{property.price}}</h6>

        <button type="button" class="btn btn-outline-primary" routerLink="/details/{{property.propertyType}}/{{property.id}}">View Details</button>
        <button type="button" class="btn btn-outline-primary" routerLink="/edit/{{property.propertyType}}/{{property.id}}">Edit Details</button>
        <!--<button type="button" class="btn btn-danger" click="deleteProperty(property)">Delete Property</button>-->

      </div>
    </div>
  </li>
</ul>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add Property
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/addApartment">Add Apartment</a>
    <a class="dropdown-item" routerLink="/addHouse">Add House</a>
    <a class="dropdown-item"routerLink="/addCondo">Add Condo</a>
  </div>
</div>

