<div class="container" *ngIf="condo">


  <legend>Address</legend>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="address">Address Number</label>
      <input [(ngModel)]="condo.property.address.address" placeholder="{{condo.property.address.address}}" id="address" name="address" type="number" class="form-control input-md">
    </div>
    <div class="form-group col-md-6">
      <label for="street">Street</label>
      <input [(ngModel)]="condo.property.address.street" placeholder="{{condo.property.address.street}}" id="street" name="street" type="text" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="city">City</label>
      <input [(ngModel)]="condo.property.address.city" placeholder="{{condo.property.address.city}}" id="city" name="city" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="province">Province</label>
      <input [(ngModel)]="condo.property.address.province" placeholder="{{condo.property.address.province}}" id="province" name="province" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="country">Country</label>
      <input [(ngModel)]="condo.property.address.country" placeholder="{{condo.property.address.country}}" id="country" name="country" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="postalCode">PostalCode</label>
      <input [(ngModel)]="condo.property.address.postalCode" placeholder="{{condo.property.address.postalCode}}" id="postalCode" name="postalCode" type="text" class="form-control input-md">
    </div>
  </div>

  <legend>condo Details</legend>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="bedrooms">Bedrooms</label>
      <input [(ngModel)]="condo.property.bedrooms" placeholder="{{condo.property.bedrooms}}" id="bedrooms" name="bedrooms" type="number" class="form-control input-md">
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="bathrooms">Bathrooms</label>
      <input [(ngModel)]="condo.property.bathrooms" placeholder="{{condo.property.bathrooms}}" id="bathrooms" name="bathrooms" type="number" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="parkingSpaces">ParkingSpaces</label>
      <input [(ngModel)]="condo.property.parkingSpaces" placeholder="{{condo.property.parkingSpaces}}" id="parkingSpaces" name="parkingSpaces" type="number" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="price">Price</label>
      <input [(ngModel)]="condo.property.price" placeholder="{{condo.property.price}}" id="price" name="price" type="number" class="form-control input-md">
    </div>
  </div>



  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="gymIncluded">Gym Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="gymIncluded-0">
        <div *ngIf="condo.gymIncluded; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <input [(ngModel)]="condo.gymIncluded" type="radio" name="gymIncluded" id="gymIncluded-0" value=true checked="checked">
        </ng-template>
        <ng-template #elseBlock>
          <input [(ngModel)]="condo.gymIncluded" type="radio" name="gymIncluded" id="gymIncluded-0" value=true>
        </ng-template>
        Yes
      </label>
      <label class="radio-inline" for="gymIncluded-1">
        <div *ngIf="condo.gymIncluded; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <input ngModel type="radio" name="gymIncluded" id="gymIncluded-1" value=false>
        </ng-template>
        <ng-template #elseBlock>
          <input ngModel type="radio" name="gymIncluded" id="gymIncluded-1" value=false checked="checked">
        </ng-template>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="storageIncluded">Storage Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="storageIncluded-0">
        <input [(ngModel)]="condo.storageIncluded" type="radio" name="storageIncluded" id="storageIncluded-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="storageIncluded-1">
        <input [(ngModel)]="condo.storageIncluded" type="radio" name="storageIncluded" id="storageIncluded-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="elevatorIncluded">Elevator Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="elevatorIncluded-0">
        <input [(ngModel)]="condo.elevatorIncluded" type="radio" name="elevatorIncluded" id="elevatorIncluded-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="elevatorIncluded-1">
        <input [(ngModel)]="condo.elevatorIncluded" type="radio" name="elevatorIncluded" id="elevatorIncluded-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="outdoorAreasIncluded">Outdoor Areas Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="outdoorAreasIncluded-0">
        <input [(ngModel)]="condo.outdoorAreasIncluded" type="radio" name="outdoorAreasIncluded" id="outdoorAreasIncluded-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="outdoorAreasIncluded-1">
        <input [(ngModel)]="condo.outdoorAreasIncluded" type="radio" name="outdoorAreasIncluded" id="outdoorAreasIncluded-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="buildingInsurance">Building Insurance</label>
    <div class="col-md-4">
      <label class="radio-inline" for="buildingInsurance-0">
        <input [(ngModel)]="condo.buildingInsurance" type="radio" name="buildingInsurance" id="buildingInsurance-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="buildingInsurance-1">
        <input [(ngModel)]="condo.buildingInsurance" type="radio" name="buildingInsurance" id="buildingInsurance-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="airConditioning">Air Conditioning</label>
    <div class="col-md-4">
      <label class="radio-inline" for="airConditioning-0">
        <input [(ngModel)]="condo.airConditioning" type="radio" name="airConditioning" id="airConditioning-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="airConditioning-1">
        <input [(ngModel)]="condo.airConditioning" type="radio" name="airConditioning" id="airConditioning-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="petsAllowed">Pets Allowed</label>
    <div class="col-md-4">
      <label class="radio-inline" for="petsAllowed-0">
        <input [(ngModel)]="condo.petsAllowed" type="radio" name="petsAllowed" id="petsAllowed-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="petsAllowed-1">
        <input [(ngModel)]="condo.petsAllowed" type="radio" name="petsAllowed" id="petsAllowed-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="conciergeIncluded">Concierge Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="conciergeIncluded-0">
        <input [(ngModel)]="condo.conciergeIncluded" type="radio" name="conciergeIncluded" id="conciergeIncluded-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="conciergeIncluded-1">
        <input [(ngModel)]="condo.conciergeIncluded" type="radio" name="conciergeIncluded" id="conciergeIncluded-1" value=false>
        No
      </label>
    </div>
  </div>



</div>

<div class="spaceTop">
  <button class="btn btn-primary btn-lg spaceRight" (click)="save()">Save Changes</button>
  <button class="btn btn-lg btn-danger spaceRight" title="delete condo" (click)="delete(condo)" style="margin-left:5px;">Delete Property</button>
  <button class="btn btn-secondary btn-lg" (click)="goBack()" style="margin-left:5px;">go back</button>
</div>
