<div class="container" *ngIf="house">


  <legend>Address</legend>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="address">Address Number</label>
      <input [(ngModel)]="house.property.address.address" placeholder="{{house.property.address.address}}" id="address" name="address" type="number" class="form-control input-md">
    </div>
    <div class="form-group col-md-6">
      <label for="street">Street</label>
      <input [(ngModel)]="house.property.address.street" placeholder="{{house.property.address.street}}" id="street" name="street" type="text" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="city">City</label>
      <input [(ngModel)]="house.property.address.city" placeholder="{{house.property.address.city}}" id="city" name="city" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="province">Province</label>
      <input [(ngModel)]="house.property.address.province" placeholder="{{house.property.address.province}}" id="province" name="province" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="country">Country</label>
      <input [(ngModel)]="house.property.address.country" placeholder="{{house.property.address.country}}" id="country" name="country" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="postalCode">PostalCode</label>
      <input [(ngModel)]="house.property.address.postalCode" placeholder="{{house.property.address.postalCode}}" id="postalCode" name="postalCode" type="text" class="form-control input-md">
    </div>
  </div>

  <legend>house Details</legend>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="bedrooms">Bedrooms</label>
      <input [(ngModel)]="house.property.bedrooms" placeholder="{{house.property.bedrooms}}" id="bedrooms" name="bedrooms" type="number" class="form-control input-md">
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="bathrooms">Bathrooms</label>
      <input [(ngModel)]="house.property.bathrooms" placeholder="{{house.property.bathrooms}}" id="bathrooms" name="bathrooms" type="number" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="parkingSpaces">ParkingSpaces</label>
      <input [(ngModel)]="house.property.parkingSpaces" placeholder="{{house.property.parkingSpaces}}" id="parkingSpaces" name="parkingSpaces" type="number" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="price">Price</label>
      <input [(ngModel)]="house.property.price" placeholder="{{house.property.price}}" id="price" name="price" type="number" class="form-control input-md">
    </div>
  </div>


  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="yearBuilt">Year Built</label>
    <div class="col-md-2">
      <input [(ngModel)]="house.yearBuilt" placeholder="{{house.yearBuilt}}" id="yearBuilt" name="yearBuilt" type="number" class="form-control input-md">

    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="basementIncluded">Basement Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="basementIncluded-0">
        <div *ngIf="house.basementIncluded; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <input [(ngModel)]="house.basementIncluded" type="radio" name="basementIncluded" id="basementIncluded-0" value=true checked="checked">
        </ng-template>
        <ng-template #elseBlock>
          <input [(ngModel)]="house.basementIncluded" type="radio" name="basementIncluded" id="basementIncluded-0" value=true>
        </ng-template>
        Yes
      </label>
      <label class="radio-inline" for="basementIncluded-1">
        <div *ngIf="house.basementIncluded; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <input ngModel type="radio" name="basementIncluded" id="basementIncluded-1" value=false>
        </ng-template>
        <ng-template #elseBlock>
          <input ngModel type="radio" name="basementIncluded" id="basementIncluded-1" value=false checked="checked">
        </ng-template>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="privateBackyardIncluded">Private Backyard Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="privateBackyardIncluded-0">
        <input [(ngModel)]="house.privateBackyardIncluded" type="radio" name="privateBackyardIncluded" id="privateBackyardIncluded-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="privateBackyardIncluded-1">
        <input [(ngModel)]="house.privateBackyardIncluded" type="radio" name="privateBackyardIncluded" id="privateBackyardIncluded-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transitFriendly">Transit Friendly</label>
    <div class="col-md-4">
      <label class="radio-inline" for="transitFriendly-0">
        <input [(ngModel)]="house.transitFriendly" type="radio" name="transitFriendly" id="transitFriendly-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="transitFriendly-1">
        <input [(ngModel)]="house.transitFriendly" type="radio" name="transitFriendly" id="transitFriendly-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="poolIncluded">Pool Included</label>
    <div class="col-md-4">
      <label class="radio-inline" for="poolIncluded-0">
        <input [(ngModel)]="house.poolIncluded" type="radio" name="poolIncluded" id="poolIncluded-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="poolIncluded-1">
        <input [(ngModel)]="house.poolIncluded" type="radio" name="poolIncluded" id="poolIncluded-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="pedestrianFriendly">Pedestrian Friendly</label>
    <div class="col-md-4">
      <label class="radio-inline" for="pedestrianFriendly-0">
        <input [(ngModel)]="house.pedestrianFriendly" type="radio" name="pedestrianFriendly" id="pedestrianFriendly-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="pedestrianFriendly-1">
        <input [(ngModel)]="house.pedestrianFriendly" type="radio" name="pedestrianFriendly" id="pedestrianFriendly-1" value=false>
        No
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="petsAllowed">Pets Allowed</label>
    <div class="col-md-4">
      <label class="radio-inline" for="petsAllowed-0">
        <input [(ngModel)]="house.petsAllowed" type="radio" name="petsAllowed" id="petsAllowed-0" value=true checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="petsAllowed-1">
        <input [(ngModel)]="house.petsAllowed" type="radio" name="petsAllowed" id="petsAllowed-1" value=false>
        No
      </label>
    </div>
  </div>



</div>

<div class="spaceTop">
  <button class="btn btn-primary btn-lg spaceRight" (click)="save()">Save Changes</button>
  <button class="btn btn-lg btn-danger spaceRight" title="delete house" (click)="delete(house)" style="margin-left:5px;">Delete Property</button>
  <button class="btn btn-secondary btn-lg" (click)="goBack()" style="margin-left:5px;">go back</button>
</div>
