<div class="container" *ngIf="house">


  <legend>Address</legend>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="address">Address Number</label>
      <input [(ngModel)]="house.property.address.address" placeholder="{{house.property.address.address}}" id="address" name="address" type="number" class="form-control input-md">
    </div>
    <div class="form-group col-md-6">
      <label for="street">Street</label>
      <input [(ngModel)]="house.property.address.street" placeholder="{{house.property.address.street}}" id="street" name="street" type="text" class="form-control input-md">
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="form-group col-md-3">
      <label for="city">City</label>
      <input [(ngModel)]="house.property.address.city" placeholder="{{house.property.address.city}}" id="city" name="city" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="province">Province</label>
      <input [(ngModel)]="house.property.address.province" placeholder="{{house.property.address.province}}" id="province" name="province" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="country">Country</label>
      <input [(ngModel)]="house.property.address.country" placeholder="{{house.property.address.country}}" id="country" name="country" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="postalCode">PostalCode</label>
      <input [(ngModel)]="house.property.address.postalCode" placeholder="{{house.property.address.postalCode}}" id="postalCode" name="postalCode" type="text" class="form-control input-md">
    </div>
  </div>

  <legend>house Details</legend>

  <div class="form-row mb-3">
    <div class="form-group col-md-3">
      <label for="bedrooms">Bedrooms</label>
      <input [(ngModel)]="house.property.bedrooms" placeholder="{{house.property.bedrooms}}" id="bedrooms" name="bedrooms" type="number" class="form-control input-md">
    </div>


    <div class="form-group col-md-3">
      <label for="bathrooms">Bathrooms</label>
      <input [(ngModel)]="house.property.bathrooms" placeholder="{{house.property.bathrooms}}" id="bathrooms" name="bathrooms" type="number" class="form-control input-md">
    </div>

    <div class="form-group col-md-3">
      <label for="parkingSpaces">ParkingSpaces</label>
      <input [(ngModel)]="house.property.parkingSpaces" placeholder="{{house.property.parkingSpaces}}" id="parkingSpaces" name="parkingSpaces" type="number" class="form-control input-md">
    </div>

    <div class="form-group col-md-3">

      <label for="price">Price</label>
      <input [(ngModel)]="house.property.price" placeholder="{{house.property.price}}" id="price" name="price" type="number" class="form-control input-md">
    </div>

    <div class="form-group col-md-3">
      <label for="yearBuilt">Year Built</label>
      <input [(ngModel)]="house.yearBuilt" placeholder="{{house.yearBuilt}}" id="yearBuilt" name="yearBuilt" type="number" class="form-control input-md">
    </div>
  </div>


  <legend>Extra Details</legend>
  <div class="form-row mt-2">
    <div class="col-md-3">
      <mat-checkbox [(ngModel)]="house.transitFriendly" name="transitFriendly" id="transitFriendly" value=true labelPosition="after">Transit Friendly</mat-checkbox>
    </div>

    <div class="col-md-3">
      <mat-checkbox [(ngModel)]="house.privateBackyardIncluded" name="privateBackyardIncluded" id="privateBackyardIncluded" value=true labelPosition="after">Private Backyard Included</mat-checkbox>
    </div>

    <div class="col-md-3">
      <mat-checkbox [(ngModel)]="house.poolIncluded" name="poolIncluded" id="poolIncluded" value=true labelPosition="after">Pool Included</mat-checkbox>
    </div>

    <div class="col-md-3">
      <mat-checkbox [(ngModel)]="house.basementIncluded" name="basementIncluded" id="basementIncluded" value=true labelPosition="after">Basement Included</mat-checkbox>
    </div>

    <div class="col-md-3">
      <mat-checkbox [(ngModel)]="house.pedestrianFriendly" name="pedestrianFriendly" id="pedestrianFriendly" value=true labelPosition="after">Pedestarian Friendly</mat-checkbox>
    </div>

    <div class="col-md-3">
      <mat-checkbox [(ngModel)]="house.property.petsAllowed" name="petsAllowed" id="petsAllowed" value=true labelPosition="after">Pets Allowed</mat-checkbox>
    </div>

  </div>




</div>

<div class="spaceTop my-5">
  <button class="btn btn-primary spaceRight" (click)="save()">Save Changes</button>
  <button class="btn btn-danger spaceRight" title="delete house" (click)="delete(house)" style="margin-left:5px;">Delete Property</button>
  <button class="btn btn-secondary" (click)="goBack()" style="margin-left:5px;">go back</button>
</div>
