
<!-- <div class="col-sm"><img src="../../assets/property-image.png" alt="Smiley face" height="300" width="500"></div> -->

<div class="list-group spaceTop" *ngIf="condo">
    
    <h2  class="list-group-item list-group-item-action list-group-item-primary"><strong>CONDO ID: </strong>{{condo.id}}</h2>
    <p href="#" class="list-group-item list-group-item-action list-group-item-danger"><strong>Price:</strong> {{condo.property.price}}$</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-secondary"><strong>Address:</strong> {{condo.property.address.address}} {{condo.property.address.street}}, {{condo.property.address.city}}, {{condo.property.address.province}}, {{condo.property.address.country}}, {{condo.property.address.postalCode}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-secondary"><strong>Pets Allowed:</strong> {{condo.property.petsAllowed}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-secondary"><strong>Number of Bedrooms:</strong> {{condo.property.bedrooms}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-secondary"><strong>Number of Bathrooms:</strong> {{condo.property.bathrooms}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Elevator Included:</strong> {{condo.elevatorIncluded}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Storage Included:</strong> {{condo.storageIncluded}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Outdoor Areas Included:</strong> {{condo.outdoorAreasIncluded}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Gym Included:</strong> {{condo.gymIncluded}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Concierge Included:</strong> {{condo.conciergeIncluded}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Air conditioning Included:</strong> {{condo.airConditioning}}</p>
    <p href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Building Insurance Included:</strong> {{condo.buildingInsurance}}</p>
  </div>

<div class="spaceTop">
  <button type="button" class="btn btn-primary btn-lg spaceRight" onclick="window.open('../assets/FinancialReport.png')">Display Financial Report</button>
  <button type="button" class="btn btn-lg btn-danger spaceRight" (click)="delete()">Delete Property</button>
  <button type="button" class="btn btn-secondary btn-lg" (click)="goBack()">Go back</button>
</div>


