<div class="container" *ngIf="property">

  <div class="col-sm"><img src="../assests/property-image.png" alt="Smiley face" height="42" width="42"></div>

  <div class="col-sm">
    <h2>{{property.address.address}} Details</h2>
    <div><span>id: </span>{{property.id}}</div>
    <div>
      <label>
        name:
        <input [(ngModel)]="property.name" placeholder="name" />
      </label>
    </div>
  </div>
</div>

<button class="delete" title="delete property"
        (click)="delete(property)">
  Delete Property
</button>
<button (click)="save()">save</button>
<button (click)="goBack()">go back</button>
