<div class="container" *ngIf="apartment">

  <legend>Address</legend>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="address">Address Number</label>
      <input [(ngModel)]="apartment.property.address.address" placeholder="{{apartment.property.address.address}}" id="address" name="address" type="number" class="form-control input-md">
    </div>
    <div class="form-group col-md-6">
      <label for="street">Street</label>
      <input [(ngModel)]="apartment.property.address.street" placeholder="{{apartment.property.address.street}}" id="street" name="street" type="text" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="city">City</label>
      <input [(ngModel)]="apartment.property.address.city" placeholder="{{apartment.property.address.city}}" id="city" name="city" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="province">Province</label>
      <input [(ngModel)]="apartment.property.address.province" placeholder="{{apartment.property.address.province}}" id="province" name="province" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="country">Country</label>
      <input [(ngModel)]="apartment.property.address.country" placeholder="{{apartment.property.address.country}}" id="country" name="country" type="text" class="form-control input-md">
    </div>
    <div class="form-group col-md-3">
      <label for="postalCode">PostalCode</label>
      <input [(ngModel)]="apartment.property.address.postalCode" placeholder="{{apartment.property.address.postalCode}}" id="postalCode" name="postalCode" type="text" class="form-control input-md">
    </div>
  </div>

  <legend>Apartment Details</legend>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="bedrooms">Bedrooms</label>
      <input [(ngModel)]="apartment.property.bedrooms" placeholder="{{apartment.property.bedrooms}}" id="bedrooms" name="bedrooms" type="number" class="form-control input-md">
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="bathrooms">Bathrooms</label>
      <input [(ngModel)]="apartment.property.bathrooms" placeholder="{{apartment.property.bathrooms}}" id="bathrooms" name="bathrooms" type="number" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="parkingSpaces">ParkingSpaces</label>
      <input [(ngModel)]="apartment.property.parkingSpaces" placeholder="{{apartment.property.parkingSpaces}}" id="parkingSpaces" name="parkingSpaces" type="number" class="form-control input-md">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="price">Price</label>
      <input [(ngModel)]="apartment.property.price" placeholder="{{apartment.property.price}}" id="price" name="price" type="number" class="form-control input-md">
    </div>
  </div>

  <legend>Extra Details</legend>
  <div class="container my-3">
    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.internetIncluded" name="internetIncluded" id="internetIncluded" value=true labelPosition="after">Internet Included</mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.heatingIncluded" name="heatingIncluded" id="heatingIncluded" value=true labelPosition="after">Heating Included</mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.laundryIncluded" name="laundryIncluded" id="laundryIncluded" value=true labelPosition="after">Laundry Included</mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.electricityIncluded" name="electricityIncluded" id="electricityIncluded" value=true labelPosition="after">Electricity Included</mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.smokersAccepted" name="smokersAccepted" id="smokersAccepted" value=true labelPosition="after">Smokers Accepted</mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.airConditioning" name="airConditioning" id="airConditioning" value=true labelPosition="after">Air Conditioning</mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.property.petsAllowed" name="petsAllowed" id="petsAllowed" value=true labelPosition="after">Pets Allowed</mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="apartment.furnished" name="furnished" id="furnished" value=true labelPosition="after">Furnished</mat-checkbox>
    </div>

  </div>

</div>


<div class="spaceTop">
  <button class="btn btn-primary btn-lg spaceRight" (click)="save()" >Save Changes</button>
  <button class="btn btn-lg btn-danger spaceRight" title="delete apartment" (click)="delete(apartment)" style="margin-left:5px;"> Delete Property </button>
  <button class="btn btn-secondary btn-lg" (click)="goBack()" style="margin-left:5px;">go back</button>
</div>
