<form (ngSubmit)="onSubmit(f)" class="form-horizontal" #f="ngForm">
  <fieldset>

    <!-- Form Name -->
    <legend>Address</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="address">Property Address Number</label>
      <div class="col-md-4">
        <input ngModel id="address" name="address" type="text" placeholder="1445" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Street</label>
      <div class="col-md-4">
        <input ngModel id="textinput" name="textinput" type="text" placeholder=" Boulevard de Maisonneuve O" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="city">City</label>
      <div class="col-md-4">
        <input ngModel id="city" name="city" type="text" placeholder="Montreal" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="province">Province</label>
      <div class="col-md-4">
        <input ngModel id="province" name="province" type="text" placeholder="QC" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="country">Country</label>
      <div class="col-md-4">
        <input ngModel id="country" name="country" type="text" placeholder="Canada" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="postalCode">Postal Code</label>
      <div class="col-md-2">
        <input ngModel id="postalCode" name="postalCode" type="text" placeholder="H3G 1M8" class="form-control input-md">

      </div>
    </div>

    <legend>House Details</legend>


    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bedrooms">Bedrooms</label>
      <div class="col-md-2">
        <input ngModel id="bedrooms" name="bedrooms" type="text" placeholder="3" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bathrooms">Bathrooms</label>
      <div class="col-md-2">
        <input ngModel id="bathrooms" name="bathrooms" type="text" placeholder="2" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="parkingSpaces">Parking Spaces</label>
      <div class="col-md-2">
        <input ngModel id="parkingSpaces" name="parkingSpaces" type="text" placeholder="2" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="price">Price</label>
      <div class="col-md-2">
        <input ngModel id="price" name="price" type="text" placeholder="235,000" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="yearBuilt">Year Built</label>
      <div class="col-md-2">
        <input ngModel id="yearBuilt" name="yearBuilt" type="text" placeholder="1996" class="form-control input-md">

      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="basementIncluded">Basement Included</label>
      <div class="col-md-4">
        <label class="radio-inline" for="basementIncluded-0">
          <input ngModel type="radio" name="basementIncluded" id="basementIncluded-0" value=true checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="basementIncluded-1">
          <input ngModel type="radio" name="basementIncluded" id="basementIncluded-1" value=false>
          No
        </label>
      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="privateBackyardIncluded">Private Backyard Included</label>
      <div class="col-md-4">
        <label class="radio-inline" for="privateBackyardIncluded-0">
          <input ngModel type="radio" name="privateBackyardIncluded" id="privateBackyardIncluded-0" value=true checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="privateBackyardIncluded-1">
          <input ngModel type="radio" name="privateBackyardIncluded" id="privateBackyardIncluded-1" value=false>
          No
        </label>
      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="transitFriendly">Transit Friendly</label>
      <div class="col-md-4">
        <label class="radio-inline" for="transitFriendly-0">
          <input ngModel type="radio" name="transitFriendly" id="transitFriendly-0" value=true checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="transitFriendly-1">
          <input ngModel type="radio" name="transitFriendly" id="transitFriendly-1" value=false>
          No
        </label>
      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="poolIncluded">Pool Included</label>
      <div class="col-md-4">
        <label class="radio-inline" for="poolIncluded-0">
          <input ngModel type="radio" name="poolIncluded" id="poolIncluded-0" value=true checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="poolIncluded-1">
          <input ngModel type="radio" name="poolIncluded" id="poolIncluded-1" value=false>
          No
        </label>
      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="smokersAccepted">Smokers Accepted</label>
      <div class="col-md-4">
        <label class="radio-inline" for="smokersAccepted-0">
          <input ngModel type="radio" name="smokersAccepted" id="smokersAccepted-0" value=true checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="smokersAccepted-1">
          <input ngModel type="radio" name="smokersAccepted" id="smokersAccepted-1" value=false>
          No
        </label>
      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="pedestrianFriendly">Pedestrian Friendlyg</label>
      <div class="col-md-4">
        <label class="radio-inline" for="pedestrianFriendly-0">
          <input ngModel type="radio" name="pedestrianFriendly" id="pedestrianFriendly-0" value=true checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="pedestrianFriendly-1">
          <input ngModel type="radio" name="pedestrianFriendly" id="pedestrianFriendly-1" value=false>
          No
        </label>
      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="petsAllowed">Pets Allowed</label>
      <div class="col-md-4">
        <label class="radio-inline" for="petsAllowed-0">
          <input ngModel type="radio" name="petsAllowed" id="petsAllowed-0" value=true checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="petsAllowed-1">
          <input ngModel type="radio" name="petsAllowed" id="petsAllowed-1" value=false>
          No
        </label>
      </div>
    </div>


  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
